.gjs-one-bg {
  background-color: white !important;
}

.gjs-four-color {
  color: #0566ec !important;
}

.gjs-pn-btn.gjs-pn-active {
  background-color: #cfe9ff;
  box-shadow: none;
  border-radius: 0.5rem;
}

.gjs-cv-canvas {
  right: 0 !important;
  left: unset;
}

.gjs-pn-panel.gjs-pn-views-container.gjs-one-bg.gjs-two-color {
  left: 0 !important;
}

.gjs-pn-panel.gjs-pn-devices-c.gjs-one-bg.gjs-two-color {
  right: 1rem;
}

.gjs-pn-panel.gjs-pn-options.gjs-one-bg.gjs-two-color {
  left: 15rem;
  width: 12rem;
  flex-direction: row-reverse;
}

.gjs-pn-panel.gjs-pn-views.gjs-one-bg.gjs-two-color {
  left: 0;
  flex-direction: row-reverse;
}

.gjs-pn-btn {
  color: #293442;
}

.gjs-device-label {
  color: #293442;
}

select.gjs-devices {
  color: #293442;
}

.gjs-four-color-h:hover {
  color: #0566ec !important;
}
